beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cryptography==37.0.2
decorator==5.1.1
idna==3.3
pycparser==2.21
pymongo==4.1.1
python-telegram-bot==13.11
requests==2.27.1
six==1.16.0
soupsieve==2.3.2
tornado==6.1
urllib3==1.26.9
dnspython==2.2.1
APScheduler==3.6.3
